email,tenant_id,first_name,last_name,allow,deny,provisioning_id
user.001@example.com,tenant01,User,One,,,
user.002@example.com,tenant01,User,Two,,"tool0202",
user.003@example.com,tenant02,User,Three,"tool0102,tool0301","tool0201",
